/* MIXINS */
.flex-column() {
    display: flex;
    flex-direction: column;
}

.flex-row() {
    display: flex;
    flex-direction: row;
}
.flex-row-middle() {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* MIXINS */


html{
    font-family: 'Open Sans';
    height: 100%;
}
body{
    .flex-column();
    box-sizing: border-box;
    position: relative;
    height: 100%;
    min-height: 100%;
}




/* LAYOUT */
.header{
    .flex-row-middle();

    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    max-width: 1170px;
    z-index: 1;

    &-logo{
        flex: 0 1 auto;

        margin: 40px 0 0 0;
    }
    &-nav{
        flex: 1 1 auto;
        margin: -3px 0 0 0;
        max-width: 729px;
    }
}
.slider{
    .flex-row();
    flex: 1 0 auto;

    background-image: url(../images/background.png);
    background-size: cover;
    background-position-y: -37px;
    background-repeat: no-repeat;
    min-height: 100%;

    &-slide{
        .flex-column();
        flex: 1 1 auto;

        justify-content: center;

        &-caption{
            margin: 0 0 38px 0;
        }
    }
}
/* -LAYOUT */