.b-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 425px) {
        justify-content: space-around;
    }

    a{
        display: block;
        color: #f4f5f9;
        font-family: Open Sans;
        padding: 19px 0;
        font-size: 14px;
        text-transform: uppercase;
        white-space: nowrap;
        text-decoration: none;

        &[data-state='is-active']{
            color: #e74c3c;
            font-weight: 700;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAABCAYAAACltkzpAAAAEElEQVQIW2N87mPzn2EIAQCpUAJwpWZUsAAAAABJRU5ErkJggg==) bottom center repeat-x;
        }
    }
}